[Unit]
Description=Python Youtube Download Telegram Bot
After=multi-user.target

[Service]
RestartSec=10
Restart=always
WorkingDirectory=/root/python-telegram-audio-downloader
ExecStart=/root/python-telegram-audio-downloader/run.py -d

[Install]
WantedBy=multi-user.target
